.nav{display:flex;flex-direction:row;height:56px;width:100%;background-color:white;box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);position:fixed;top:0;left:0;z-index:2;}
.leftbutton {position:relative;top:12px;width:20px;height:17px;margin-left:26px;cursor:pointer;}
.ytlogo {position:relative;top:16px;width:80px;height:24px;margin-left:22px;cursor:pointer;}
.video {position:absolute;top:72px;left:63px;z-index:1;}
.search {position:relative;top:12px;left:254px;border-color: rgb(17, 17, 17, 0.2);border-width:1px;width:562.2px;line-height:28px;padding-left:11px;}
.searchbutton img {width: 20px;}
